#!/usr/bin/make -f
clean:
	dh_testdir
	dh_testroot
	dh_clean

configure:
	dh_testdir
	./configure

build:
	dh_testdir
	echo "woo"

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary: configure build install

.PHONY: build clean binary install configure
