#!/usr/bin/make -f

clean:
	dh_auto_clean

install:
	dh_testdir
	dh_testroot
	dh_install

configure:
	dh_testdir
	dh_auto_configure

build:
	dh_auto_build
	mkdir -p debian/collectd/lib/systemd/system debian/collectd/etc/init
	cp contrib/collectd.service debian/collectd/lib/systemd/system
	cp contrib/upstart.collectd.conf /etc/init/collectd.conf

binary: configure build install

.PHONY: install configure build binary clean
